<div class="row">
  <div class="float-left">
    <button class="button-clear" style="text-transform: capitalize" (click)="clickBack()">back</button>

  </div>
</div>
<br><br>
<h1>Twitter Stalk</h1>
<br><br>
<div *ngIf="user">
  <div class="row">
    <div class="column column-10">
      <img src="{{user.profile_image_url_https}}" style="border-radius: 50%; border: solid #ddd 1px;">
    </div>
    <div class="float-right">
      <h2 style="margin: 0px;padding-right: 20px;">{{ user.name }}</h2>
      <h3>{{user.screen_name}}</h3>
    </div>
  </div>
  <blockquote>
    <h3><em>{{user.description}}</em></h3>
  </blockquote>
  <br>
  <div class="float-righ">
    <a class="button-large button-clear" id="tab-button" [routerLink]="['/home/tweets']">Tweetler</a>
    <a class="button-large button-clear" id="tab-button" [routerLink]="['/home/favourites']">Favoriler</a>
    <a class="button-large button-clear" id="tab-button" [routerLink]="['/home/live']">İzle</a>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
